.navbar {
    background-color: #7895B2;
}
.navbar-brand, .nav-link, .navbar-text {
    color: #F5EFE6 !important;
}
.nav-link:hover {
    color: #AEBDCA !important;
}
.navbar-toggler {
    border-color: #E8DFCA;
}
.navbar-toggler-icon {
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 30'%3E%3Cpath stroke='rgba(245, 239, 230, 1)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 7h22M4 15h22M4 23h22'/%3E%3C/svg%3E");
}
