body {
    font-family: Arial, sans-serif;
}

header {
    margin-bottom: 20px;
}

main {
    margin-top: 50px;
}

table {
    width: 100%;
    border-collapse: collapse;
}

th, td {
    padding: 10px;
    text-align: left;
}

th {
    background-color: #f8f9fa;
}

tr:nth-child(even) {
    background-color: #f2f2f2;
}
